<div class="jumbotron">
    <h3>{{app}}</h3>
    <hr/>
    <input type="text" class="form-control" ng-model="criterioBusca" ng-model-options="{updateOn: 'default blur', debounce:{default: 500, blur: 0}}" placeholder="Buscar por..."/>
    <table ng-show="contatos.length > 0" class="table table-striped">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('Nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('Telefone')">Telefone</a></th>
            <th><a href="" ng-click="ordenarPor('Operadora')">Operadora</a></th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos track by contato.nome | filter:criterioBusca | orderBy:criterioOrdenacao:direcaoOrdenacao">
            <td><input type="checkbox" ng-model="contato.selecionado" ng-change="verificarContatoSelecionado(contatos)"/></td>
            <td><a href="#!/detalhesContato/{{contato.codigo}}">{{::contato.nome | name | ellipsis:14}}</a></td>
            <td>{{::contato.telefone}}</td>
            <td>{{::contato.operadora.nome | name}}</td>
        </tr>
    </table>
    <hr/>
    <a class="btn btn-primary btn-block" href="#!/novo-contato">Novo Contato</a>
    <a class="btn btn-primary btn-block" href="#!/operadoras">Operadoras</a>
    <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="hasContatoSelecionado">Apagar Contatos</button>
</div>