<div class="jumbotron">
    <h3>Editar Operadora</h3>
    <hr/>
    <form name="operadoraForm">
        <input class="form-control" type="text" ng-model="operadora.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="2"/>
        <input class="form-control" type="text" ng-model="operadora.codigoArea" name="codigoArea" placeholder="Código de área" ng-required="true" ng-minlength="2" ui-codigo-area/>
        <select class="form-control" ng-model="operadora.categoria">
            <option value="Celular">Celular</option>
            <option value="Fixo">Fixo</option>
        </select>
        <input class="form-control" type="text" ng-model="operadora.preco" name="preco" placeholder="Valor do minuto" ng-minlength="1" ui-valor/>
    </form>
    <div ng-show="operadoraForm.nome.$dirty" ng-messages="operadoraForm.nome.$error">
        <div class="alert alert-danger" ng-message="required">
            Por favor, preencha o campo nome!
        </div>
        <div class="alert alert-danger" ng-message="minlength">
            O campo nome deve conter no mínimo 2 caracteres!
        </div>
    </div>
    <div ng-show="operadoraForm.codigoArea.$dirty" ng-messages="operadoraForm.codigoArea.$error">
        <div class="alert alert-danger" ng-message="required">
            Por favor, preencha o campo Código de área!
        </div>
        <div class="alert alert-warning" ng-message="minlength">
            O campo Código de área deve conter no mínimo 2 caracteres!
        </div>
    </div>
    <button class="btn btn-primary btn-block" ng-click="editarOperadora(operadora)" ng-disabled="contatoForm.$invalid">Editar Operadora</button>
    <a class="btn btn-danger btn-block" href="#!/detalhes-operadora/{{operadora.codigo}}">Cancelar</a>
</div>